src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="6556d1bf-5201-47df-a45b-5216ac1722d7" >
		<http:listener doc:name="Listener" doc:id="12b78aef-6421-43cf-99ba-41f8f7a4fea6" config-ref="HTTP_Listener_config" path="${http.listner.path}">
			<http:error-response statusCode="#[vars.statusCode as number]">
				<http:body ><![CDATA[#[vars.errorMessage default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9f846ed9-12af-4ae7-895c-3fa7ac7189bb" message="Request Received on traveltip External System API for TransactionId : #[attributes.headers.transactionId]"/>
		<ee:transform doc:name="Transform Message" doc:id="68933a08-750b-436e-82f5-c0b358c329f8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionid]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="92964fba-4bb0-406d-9390-a9c4c1582c32" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="92eb6807-255c-4a99-b159-243cf133c797" message="Routes flow called for traveltip External System API for TransactionId : #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="debc7558-2936-4105-a269-c5122d7eb1bb" name="travelontip-getroutes-implementationFlow" />
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="35328ea4-1f66-4334-b98d-8ec0beca086f" message="Schedules flow called for traveltip External System API for TransactionId : #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="2da8ef6f-0b88-4e0b-a937-ea04baee0007" name="travelontip-getschedules-implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="853d0833-00d3-40f3-9dfc-9d9cd8665ad6" message="Uri param is not correct for traveltip External System API for TransactionId : #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="efdd475e-676e-4221-8983-676ff6261d34" message="Response Sent on traveltip External System API for TransactionId : #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0881efce-8800-4b9c-bd24-658dd243365d" >
				<logger level="INFO" doc:name="Logger" doc:id="f6536670-35cc-494e-8d72-3208c2938da0" message="Error Occured on traveltip External System API for TransactionId : #[attributes.headers.transactionId]"/>
				<ee:transform doc:name="Transform Message" doc:id="8eb3271c-fc2d-4285-9f4e-a144f79c8628" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/json
---
{
    "ErrorCode": "xyz",
    "ErrorMessage": "Critical Error"
}]]></ee:set-variable>
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/java
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
